.card-list{
    width: 80vw;
    margin: 0 30px;
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;

}
@media only screen and (max-width:1440px){
  .card-list{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-left: 2.5rem; 
  }
}
@media only screen and (max-width:1280px){
  .card-list{
    grid-template-columns: 1fr 1fr 1fr ;
    padding-left: 5rem; 
  }
}
@media only screen and (max-width:1024px){
    .card-list{
      grid-template-columns: 1fr 1fr;
      padding-left: 5rem; 
    }
  }
  @media  only screen and (max-width:800px){
    .card-list{
      grid-template-columns: 1fr 1fr;
      padding-left: 4rem;
    }
  }

  @media only screen and (max-width:768px){
    .card-list{
      grid-template-columns: 1fr;
      width: 60vw;
      padding-left: 7rem;
      
    }
  }
  @media  only screen and (max-width:720px){
    .card-list{
      grid-template-columns: 1fr; 
      padding-left: 6.5rem;
      
    }
  }
  @media  only screen and (max-width:640px){
    .card-list{
      grid-template-columns: 1fr;
      padding-left: 6rem;
    }
  }
  @media  only screen and (max-width:600px){
    .card-list{
      grid-template-columns: 1fr;
      padding-left: 5.5rem;
    }
  }
  @media  only screen and (max-width:500px){
    .card-list{
      grid-template-columns: 1fr;
      padding-left: 3.5rem;
    }
  }
  @media  only screen and (max-width:480px){
    .card-list{
      grid-template-columns: 1fr;
      padding-left: 3.5rem;
    }
  }
 @media  only screen and (max-width:414px){
  .card-list{
    grid-template-columns: 1fr;
    padding-left: 1.5rem;
  }
}
@media only screen and (max-width:411px){
  .card-list{
    grid-template-columns: 1fr;
  }
}
 
@media only screen and (max-width:400px){
  .card-list{
    grid-template-columns: 1fr;
     padding-left: 1rem;
  }
}
@media only screen and (max-width:384px){
  .card-list{
    grid-template-columns: 1fr;
     padding-left: 0.5rem;
  }
}
@media  only screen and (max-width:375px){
  .card-list{
    grid-template-columns: 1fr;
    padding-left: 5px;
    
  }
}
 @media only screen and (max-width:360px){
  .card-list{
    grid-template-columns: 1fr;
    padding-left: 1px;
  }
   }

 @media only screen and (max-width:320px){
  .card-list{
    grid-template-columns: 1fr;
    width: 80vw;
    padding-left: 2px;
    
  }
}

 