.App{
  text-align: center;
}

h1{
  font-family: 'Bigelow Rules';
  font-size: 72px;
  color: #0ccac4;
}

.App-link {
  color: #61dafb;
}


@media screen and (max-width:360px){
  .h1{
     font-size: 50px;
  }
}
@media screen and (max-width:720px){
  .h1{
     font-size: 990px;
  }
}
